table {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap');
    width: 100%;
    border-spacing: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
table tbody tr:nth-of-type(odd){
    background:darkgrey;
}
table tr td {
    /* display: flex; */
    border-top: 1px solid rgb(0, 0, 0, 0.5);
}
.avatar img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
}
table tbody tr td:nth-child(2) {
    display: flex;
    align-items: center;
}table tbody tr:hover {
    background: red;
}
